body {
    margin: 0;
}

h1, h2, h3, h4{
    background-color: #bce3f0;
}
    
.container {
    width: 80%; 
    margin: auto;
}
    
.menu {
    background: #0b6d8d url("../menubg-blue.png") repeat-x;
    padding-top: 20px;
    padding-bottom: 20px;  
    font-size: 17px;
}

.menu a {
    color: white;
}

.menu li {
    display: inline-block;
    list-style: none;    
    padding: 0; 
    border-left: 1px solid #258FC1; 
     
}

li:hover {
    background-color: #06485e;; 
}

.menu ul {
    margin: 0;  
    padding: 0;
}
.img  {
    text-align: center;

}

